<h5>My details</h5>

<p>Preferred Type: {{user.preferred_relationship_type}} </p>
<p>Ethnicity: {{user.ethnicity}} </p>
<p>Status: {{user.status}} </p>
<p>Preferred Status: {{user.preferred_relationship_status}} </p>
<p>Height: {{user.height}} </p>
<p>Body Type: {{user.body_type}} </p>
<p>Diet: {{user.diet}} </p>
<p>Smoking: {{user.smoking}} </p>
<p>Drinking: {{user.drinking}} </p>
<p>Drugs: {{user.drugs}} </p>
<p>Spirituality: {{user.spirituality}} </p>
<p>Education: {{user.education}} </p>
<p>Kids: {{user.kids}} </p>
<p>Pets: {{user.pets}} </p>
<p>Languages: {{user.languages}} </p>
